@{
    ViewBag.Title = "Услуги..";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
        <h2>Проведение рекламных акций в интернет</h2>
        <ul>
            <li>Видео реклама на YouTube</li>
            <li>Баннерная реклама</li>
            <li>Прямые ссылки</li>
            <li>Редирект с сайтов партнеров</li>
            <li>Статьи и отчеты</li>
            <li>Социальные сети</li>
            <li>Контекстная реклама</li>
            <li>Геолакационная реклама</li>
        </ul>
        <p>Рекламная стратегия строится индивидуально при поддержке менеджеров компании Google.</p>
        <p><b>Стоимость:</b>от $1500</p>

    <h2>Создание рекламных видео роликов</h2>
    <p>
        Для размещения рекламы на YouTube вам понадобится рекламный ролик. Мы активно сотрудничаем с профессиональными операторами, творческими колллективами, студентами ВГИК. В нашем распоряжении есть хороший рендер сервер. Сценарий создается на основе выбранной рекламной стратегии и с вашим непосредственным участием.
    </p>
    <p>
        <b>Стоимость:</b>от $500</p>
    </p>

    <h2>Создание социальных площадок для рекламных акций</h2>
    <p>
        Реалии современного трафика такие, что половина пользователей о вас узнает по запросам в поисковике и рекламе, а другая половина приходит из социальных сетей. <br>
        Для рекламной акции мы регистрируем отдельный домен, почту и привязываем его к социальным сетям. Реклама в социальной сети осуществляется посредством самих пользователей - "сарафанное радио", что привносит в акцию определенную долю интриги и азарт при анализе статистики.
        В разработку входит:
        <ul>
            <li>Индивидуальное оформление страничек</li>
            <li>Уникальный контент и рерайтинг</li>
            <li>Помощник - ваш представитель в социальной сети, находящийся с вами на горячей линии</li>
            <li>Консультации и ответы на вопросы</li>
        </ul>
    </p>
    <p>
        <b>Стоимость:</b>от $150 за группу и $3 за событие
    </p>

    <h2>Создание персональных видео каналов</h2>
    <p>
        Если вы мечтали о своем персональном телевидении, то пришла пора реализовать свою мечту, одним из способов:
        <ul>
            <li>YouTube - удобно, быстро и почти бесплатно</li>
            <li>Персоанальный видеосервер - возможность создания сетки вещания, полное управление контентом, ссылками и рекламой</li>
            <li>CDN Video провайдер - весь материал вы передаете на вещание нашему партеру по доставке контента. В этом случае вас на одинаковой скорости можно будет смотреть во всех уголках земного шара.</li>
        </ul>
    </p>
    <p>
        Мы предоставляем полный комплекс услуг по огранизации и сопровождению эфирного вещания.
    </p>
    <p>
        <b>Стоимость:</b>от $10000, регистрация канала на YouTube - $10
    </p>


</article>

<aside>
    <h3>Перейти:</h3>
    <p>
        Ссылки для быстрого перехода
    </p>
    <ul>
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("О нас", "About", "Home")</li>
        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
    </ul>
</aside>